@font-face {
  font-family: 'CeraPro-Regular';
  src: url('../assets/fonts/CeraPro-Regular.ttf');
}
@font-face {
  font-family: 'CeraPro-Medium';
  src: url('../assets/fonts/CeraPro-Medium.ttf');
}
@font-face {
  font-family: 'CeraPro-Bold';
  src: url('../assets/fonts/CeraPro-Bold.ttf');
}