.preloader {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; 
  width: 4rem;
  height: 4rem;
}
.preloader:after {
  content: " ";
  display: block;
  width: 4rem;
  height: 4rem;
  margin: 0.5rem;
  border-radius: 50%;
  border: 0.3rem solid var(#{--red-color-700});
  border-color: var(#{--red-color-700}) transparent var(#{--red-color-700}) transparent;
  animation: preloader 1.2s linear infinite;
}
@keyframes preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
